.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  padding: 2vmin;
  width: 15vmin;
  border-radius: 20px;
  background-color: green;
  color: white;
}

.signup-button {
  padding: 2vmin;
  width: 15vmin;
  border-radius: 5px;
  background-color: inherit;
}

button {
  color: white;
  border: none;
}


.login-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 100ms ease-in-out;
    outline-color: khaki;
}
